@model MVVM.UI.Web.Models.Home.IndexViewModel

<div id="controls-container">
    <select data-bind="options: SelectListItems, optionsValue: 'Value', optionsText: 'Text', value: SelectListItem" id="select-list"></select>

    @* TODO: Show and hide #data-textarea based on the selection of #select-list. *@
    <textarea class="full-width" id="data-textarea" rows="25"></textarea>
</div>

@section Scripts
{
    <script src="/Scripts/ViewModels/HomeIndexVM.js"></script>
    <script src="/Scripts/Home/index.js"></script>
}
