.full-width { width: 100%; }
.left-float { float: left; }

#filters-container .left-float { margin-right: 20px; }
#filters-container label { display: block; }
#categories-container label { display: inline-block; margin: 0 0 20px 20px; }
