﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Admin</title>
    <link rel="stylesheet" href="/Content/site.css" />
    <link rel="stylesheet" href="/Content/lib/select2.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>@Model.Title</h1>
            <nav><a href="/">Home</a> | <a href="/Home/Categories/">Categories</a> | <a href="/Home/Filters/">Filters</a> </nav>
            <p>@Model.Text</p>
        </header>
        <main>
            @RenderBody()
        </main>
    </div>
    <script src="/Scripts/lib/jquery-1.12.4.js"></script>
    <script src="/Scripts/lib/knockout-3.5.1.js"></script>
    <script src="/Scripts/lib/select2.js"></script>
    <script src="/Scripts/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
@* TODO: Using site.css, improve the overall site appearance, including center align the contents of .container both vertically and horizontally. *@
